.dr-header {
    background-color: black;
    color: white;
    font-family: Cambria;
    display: relative;
    margin-left: 700px;
}

.col-md-2 {
    padding-top: 10px;
    width: 100%;
}

.img-header {
    padding-block-start: 10px;
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.form-group {
    width: 100%;
    padding-block-end: 10px;
}

.display-1 {
    font-size: 40px;
    color: white;
    font-family: Cambria;
    width: 100%;
}

.green {
    font-size: 15px;
    color: yellowgreen;
    font-family: Cambria;
    margin-left: 700px;
}

.form-group-list {
    color: white;
}

ul li {
    display: inline-block;
}

.table-list{
    color: chocolate;
}

.table-list-content :hover {
    color: red;
}
.table-list-content {
    color: white;
}

.modal-body {
    cursor: pointer;
}

.de-header {
    background-color: black;
    color: white;
    font-family: Cambria;
    display: relative;
}