@page
@model Web.Pages.Dish.DishRegisterModel
@{

    <link rel="stylesheet" href="~/css/dish/dish.css" asp-append-version="true" />
    //<div class="complete-header">

    <form method="post" enctype="multipart/form-data" style="align-items:center">

        <section class="dr-header">
            <div class="img-header">
                <img src="~/images/celular-foto.png">
            </div>  

            <div class="form-group">
            <h1 class="display-1">Cadastre o novo prato:</h1>
                <div class="col-md-2">
                    <section>Nome </section>
                        <section> <input type="text" asp-for="DishRegister.Name" /> </section>
                </div>

                <div class="col-md-2">
                    <section>Descrição/Detalhes</section>
                    <section>
                        <input type="text" asp-for="DishRegister.Description" />
                    </section>
                </div>

                <div class="col-md-2">
                    <section>
                        Valor
                    </section>
                    <section>
                        <input type="number" asp-for="DishRegister.Value" />
                    </section>
                </div>

                <div>
                    <section class="col-md-2">
                        Selecione abaixo a imagem do seu prato:
                        <div class="col-md-5"><input type="file" asp-for="DishRegister.FileStream" /></div>
                    </section>
                </div>

                <section class="col-md-2">
                    <button type="submit">Salvar </button>
                </section>
            </div>
        </section>
    </form>


    @if (TempData["Message"] != null)
    {
        <div class="green">
            <p><strong>@TempData["Message"].ToString()</strong> </p>
        </div>
    }
}