@page
@model Web.Pages.Dish.DishRegisterModel
@{
    <section class="dr-header"><h1>Cadastre o prato</h1></section>

    <form method="post" enctype="multipart/form-data">
        <div class="form-group" style="align-items:center">
            <div class="col-md-2">
                <section>Nome
                    <input type="text" asp-for="DishRegister.Name" />
                </section>
            </div>
            <div class="col-md-3">
                <section>Descrição/Detalhes
                    <input type="text" asp-for="DishRegister.Description" />
                </section>
            </div>
            <div class="col-md-2">
                <section>
                    Valor
                    <input type="number" asp-for="DishRegister.Value" />
                </section>
            </div>

            <div>
                <input type="file" asp-for="DishRegister.FileStream" />
            </div>

        </div>

        <button type="submit">Salvar </button>
    </form>

    @if (TempData["Message"] != null)
    {
        <div class="green">
            <p><strong>@TempData["Message"].ToString()</strong> </p>
        </div>
    }
}