@page
@model WebApp.Pages.DishRegisterModel
@{

    <h1>Cadastre o prato</h1>

    <form method="post">
        <input type="text" name="Name" />
        <input type="text" name="Description" />
        <input type="number" name="Value" />

        <button type="submit">Salvar </button>
    </form>
}