@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="~/css/index/index.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Cardápio Digital</h1>
    <p class="display-3">
        Bem vindo ao sistema de cardápio digital. Clique em <a asp-area="" asp-page="/Dish/DishRegister">Cadastre o prato</a>, para registrar as opções do seu restaurante.
    </p>
</div>
