@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Cardápio Digital</h1>
    <p>Bem vindo ao sistema de cardápio digital. Clique em <a asp-area="" asp-page="/DishRegister">Cadastre o prato</a>, para registrar as opções do seu restaurante.</p>
</div>
