@page
@using WebApp.Pages;
@model SuccessModel
@{
    ViewData["Title"] = "Cadastro feito com sucesso!";
}

@*<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="~/images/main_banner_text.png" />
    </div>
</section>*@

<div class="container">
    <h1>Seu prato foi cadastrado com sucesso!</h1>
</div>