<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index/index.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar">
            <!-- LOGO -->
            <img class="logo-image" src="~/images/cardapio.png">
            <div class="logo">MyMenu</div>

            <!-- NAVIGATION MENU -->
            <div class="nav-links">

                <!-- USING CHECKBOX HACK -->
                <div class="menu">
                   <div class="services">Serviços
                    <img class="esh-identity-image" src="~/images/arrow-down.png">

                        <!-- DROPDOWN MENU -->
                        <ul class="dropdown">
                            <li><a class="nav-link" asp-area="" asp-page="/PublicDigitalMenu">Página Inicial</a></li>
                            <li><a class="nav-link" asp-area="" asp-page="/Dish/DishRegister">Cadastre o prato</a></li>
                            <li><a class="nav-link" asp-area="" asp-page="/Dish/DishList">Pratos Cadastrados </a></li>
                        </ul>
                   </div>
                </div>
                </div>               
        </nav>

    </header>
    <div class="container-body">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-foot">
            &copy; 2023 <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>